<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" role="button" (click)="addNode()">Add Node</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Graph Options
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="changeRunningAlgorith(null)" role="button">Reset Graph </a>
                    <a class="dropdown-item" (click)="generateGraph(null)" role="button">Delete Graph </a>
                    <a class="dropdown-item" (click)="generateLengths()" role="button">Generate Random Lengths </a>
                </div>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" (click)="changeRunningAlgorith(null)" role="button">Reset Graph</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="generateGraph(null)" role="button">Delete Graph</a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pregenerated Graphs
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" role="button" (click)="generateGraph(3)">Random Directed Graph</a>
                    <a class="dropdown-item" role="button" (click)="generateGraph(0)">Directed Acyclic Graph Example </a>
                    <a class="dropdown-item" role="button" (click)="generateGraph(1)">Binary Tree Example </a>
                    <a class="dropdown-item" role="button" (click)="generateGraph(2)">Strongly Connected Component Graph Example </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Algorithm Speed
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" role="button" (click)="setTime(3000)">very slow</a>
                    <a class="dropdown-item" role="button" (click)="setTime(2000)">slow </a>
                    <a class="dropdown-item" role="button" (click)="setTime(1000)">medium </a>
                    <a class="dropdown-item" role="button" (click)="setTime(500)">fast </a>
                    <a class="dropdown-item" role="button" (click)="setTime(300)">very fast </a>
                    <a class="dropdown-item" role="button" (click)="setTime(0)">instant </a>
                </div>
            </li>
            <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Run Algorithms
          </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" (click)="changeRunningAlgorith(0)">BFS</a>
                        <a class="dropdown-item" (click)="changeRunningAlgorith(1)">DFS </a>
                    </div>
                </li> -->
            <li>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Run Algorithm
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" role="button" (click)="changeRunningAlgorith(0)">Run BFS</a>
                        <a class="dropdown-item" role="button" (click)="changeRunningAlgorith(1)">Run DFS </a>
                        <a class="dropdown-item" role="button" (click)="changeRunningAlgorith(2)">Find Strongly Connected Components </a>
                        <!-- <a class="dropdown-item" role="button" (click)="changeRunningAlgorith(3)">Find Bridges //TODO</a> -->
                        <!-- <a class="dropdown-item" role="button" (click)="changeRunningAlgorith(4)">Find Articulation Points //TODO</a> -->
                        <a class="dropdown-item" role="button" (click)="changeRunningAlgorith(5)">Run Dijkstra </a>
                        <!-- <a class="dropdown-item" role="button" (click)="changeRunningAlgorith(8)">Run Bellman-Ford //TODO</a> -->
                        <!-- <a class="dropdown-item" role="button" (click)="changeRunningAlgorith(6)">Run Prim (Graph Must Be Undirected) </a> -->
                        <a class="dropdown-item" role="button" (click)="changeRunningAlgorith(7)">Run Kruskal </a>
                        <!-- <a class="dropdown-item" role="button" (click)="changeRunningAlgorith(9)">Run Ford-Fulkerson //TODO</a> -->
                    </div>
                </div>
            </li>
        </ul>
        <!-- <ul class="navbar-nav navbar-right">
            <li class="nav-item dropdown my-2 my-lg-0 dropleft">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Legend
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="legendDropdown">
                        <app-legend></app-legend>
                    </a>
                </div>
            </li> -->
        <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
        <!-- </ul> -->
        <!-- <form class="form-inline my-2 my-lg-0">
            <input type="range" max="100" #ref (change)="setTime(ref.value)" />
        </form> -->
    </div>
</nav>